/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------- */

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
	--white: hsl(0, 0%, 100%);
}

.sr-only {
    clip-path: inset(50%); 
    border: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    position: absolute;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
}

body {
    background-color: var(--violet);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 83% 100%;
	background-position-x: left;
	color: var(--white);

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

	min-height: 100vh;
	padding: 2rem 4rem;
}

.btn-register, .illus, .huddles-logo, .socials-i, .text-heading, .text-p {
	transition: all ease 1s;
}

.btn-register {
	background-color: var(--white);
	border-radius: 60px;
	color: var(--violet);
	width: 200px;
	padding: .8rem 0;
}

.btn-register:hover {
	background-color: var(--soft-magenta);
	color: var(--white);
	width: 210px;
	padding: .9rem 0;
}

.huddles-logo {
	width: 80%;
}

.illus {
	width: 90%;
}

.socials-i {
	width: 3em;
	height: 3em;
	border: 1.5px solid var(--white);
	border-radius: 50%;
}

.socials-i:hover {
	color: var(--soft-magenta);
	border-color: var(--soft-magenta);
	cursor: pointer;
	width: 3.5em;
	height: 3.5em;
}

.text-heading {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	width: 100%;
	max-width: 31.25rem;
}

.text-p {
	width: 100%;
	max-width: 36rem;
}

@media screen and (max-width: 1360px) {
	body {
		background-size: cover;
	}	
}

@media screen and (max-width: 1199px) {
	body {
		background-image: url(images/bg-mobile.svg);
	}
}

@media screen and (max-width: 990px) {
	.illus {
		width: 100%;
	}

	.huddles-logo {
		width: 70%;
	}

	.text-heading {
		max-width: 100%;
	}

	.text-p {
		max-width: 100%;
	}
}

@media screen and (max-width: 500px) {
	body {
		padding: 1rem 1rem;
	}

	.huddles-logo {
		width: 50%;
	}
	
	.socials-i {
		width: 2.5em;
		height: 2.5em;
	}

	.socials-i:hover {
		width: 3em;
		height: 3em;
	}

	.text-p {
		font-size: 1rem !important;
	}
}

@media screen and (max-width: 375px) {
	body {
		background-size: auto;
	}
}